## Joins and Subqueries

Joins make data interesting. You can get a broader and wider range of data if you join muliple tables together. However, joins are also one of the most complicated and expensive operations in SQL. Be sure your SQL coding style is clean and readable!

This section we'll be exploring:

* Join Syntax
* Duplication from Joins
* Types of Joins
* Subqueries and Join Optimization

In [1]:
# Load the SQL magic extension
%load_ext sql
# Connect to the default database (using SQLAlchemy)
%sql postgresql://localhost/postgres
# Truncate output of your queries so that it's not blowing up the notebook
%config SqlMagic.displaylimit = 10

### Join Syntax

So far, we have explored how to query information from a single table and transform the values within that table. However, in the situation where the information we need does not exist in our current table, a join is needed to append the appropriate data onto the data set. 

Let's look at the syntax of a basic join. Note that we have to specify the tables we are joining together, and the type of join, and then the join key to determine how we're joining the two tables together.

In [23]:
%%sql
-- Join query for film on to language
select 
  * 
from 
  film -- Left Table
join -- Type of Join
  language -- Right Table
on film.language_id = language.language_id -- Join Key
limit 1

 * postgresql://localhost/postgres
1 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 1975, 1, 7, 4.99, 117, 14.99, 'NC-17', datetime.datetime(2006, 2, 15, 9, 46), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5", 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2))]

#### Joins for Data Creation 

Different types of joins will yield different result tables. It is recommended that the final result table is planned out and thought through before performing the join. Let's consider the case above where we want to know what language each film is to better give a description to the customer.

Note that to join any two tables together, a join key should be used so that the table knows which rows to append together. The join key is typically a field in one table that is supposed to match to a field in the second table. 

**Join Types**
Let’s assume we have two tables, one on the left and one on the right. 

* An **inner** join returns records that have matching values in both tables. The most basic type of join.
* A **left** join returns all records from the left table and corresponding matched values from the right table 
* A **right** join returns all records from the right table and corresponding matched values from the left table (Note that this is essentially the same as a left join but with the right table)
* An **full** or **outer** join returns all records from both tables, but will match the values if the join key is validated
* An **anti** join returns the records if there is no match in either table  

Before performing a join, think about what you want the final data set to look like. Write out all the features and which tables you need to retrieve those fields from before you join tables together. This will help you be organized and write cleaner code.

In [21]:
%%sql
-- Join the table film onto language
-- What type of join do you use and why? Think about what the granularity of the final table will be.
select 
  * 
from 
  film
left join
  language 
on film.language_id = language.language_id
limit 1

 * postgresql://localhost/postgres
1 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 1975, 1, 7, 4.99, 117, 14.99, 'NC-17', datetime.datetime(2006, 2, 15, 9, 46), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5", 1, 'English             ', datetime.datetime(2006, 2, 15, 10, 2))]

In [24]:
%%sql
-- How many rows is the output of the above query?
select 
  sum(1) as num_rows
from 
  film
left join
  language 
on film.language_id = language.language_id

 * postgresql://localhost/postgres
1 rows affected.

[(1000,)]

In [25]:
%%sql
-- Try using a different join than the one you used above for the same query
-- Do you get the same number of rows? If not, why?
select 
  sum(1)
from 
  film
right join
  language 
on film.language_id = language.language_id

 * postgresql://localhost/postgres
1 rows affected.

[(1005,)]

Lastly, check how many films listed are foreign language films.

In [17]:
%%sql
-- How many films aren't in the English language?
select 
  * 
from 
  film
left join
  language 
on film.language_id = language.language_id
where
  trim(upper(language.name)) <> 'ENGLISH'

 * postgresql://localhost/postgres
0 rows affected.

[]

### Join Keys

Join keys are the most essential part of a join. A typical join key, as noted in the previous section, consists of a statement that connects one field in the left table to one field in the right table. Typical join statements use equality, but using inequality in join statements is possible. 

Extra caution is needed when joining on a string join key. It is possible that these strings are capitalized differently and encoded differently. It is best practice to check the join key in both tables before performing the join and if needed, mutate the join key so that they match.

**Joins for Data Filtering**   
Joins are more useful than just appending on new data from different sources. They are also effective in optimizing a slow query when rows need to be filtered out (as opposed to using a where clause in conjunction with the “in” function). There are two joins that can help you accomplish this: (1) inner joins and (2) anti joins. 

* **Inner joins** are a filtering join because it discards the rows that don't have a match in both the left and right tables.
* **Anti joins** are a filtering join because it discards rows that do have a match in both the left and right tables. Exact opposite of an inner join! Note that anti joins aren't supported in Postgres

In [42]:
%%sql
-- Count the number of rows in the tables `film_category` and `film` respectively
-- Enter your query here!

 * postgresql://localhost/postgres
57 rows affected.

[(41.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (57.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (75.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (84.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (87.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (88.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (103.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (123.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (125.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (167.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (169.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (181.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (224.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (233.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (257.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (286.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (288.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (294.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (299.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (307.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (339.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (342.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (347.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (386.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (405.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (434.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (451.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (472.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (496.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (513.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (518.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (526.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (543.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (601.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (609.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (642.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (645.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (648.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (656.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (783.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (784.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (785.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (787.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (811.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (826.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (848.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (868.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (872.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (878.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (894.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (903.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (914.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (931.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (977.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (981.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (988.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None),
 (989.0, 16.0, datetime.datetime(2006, 2, 15, 10, 7, 9), None, None, None)]

In [ ]:
%%sql
-- Count the number of rows in the inner join between `film_category` and `film`. How many rows were lost?
-- Enter your query here!

In [ ]:
%%sql
-- Replicate an anti join in Postgres
select * from film_category fc full join (select * from category limit 15) c on fc.category_id = c.category_id where fc.category_id is null or c.category_id is null

### Subqueries
Sometimes when we try to join two tables, one table is at a different granularity than the other. Joining these two tables together will create a lot of duplicates. This is one of the many use cases of using a subquery before joining. Subqueries can refine different granularites but also just filter down the tables before joining. This will help optimize the final query and minimize the runtime (lower resource costs too). 

The strength of subqueries (over just putting filtering statements at the end of all the joins) lie in that you can select the number of columns you want to transfer to the next level of nesting. This allows for the most efficient calls to the database.

**Julie Tip**

Try to alias tables with a small identifier that is descriptive of the table you are querying from. Tag each field you select with the table identifier so that each field is pulled exactly from the table you want.

In [50]:
%%sql
-- Find the film categories of movies that include "moose" in the film description
select 
  f.*,
  c.name as category_name
from 
  (select
     film_id,
     title,
     description,
     release_year,
     length,
     special_features
   from
     film
   where 
     lower(description) like '%moose%') f
left join
  film_category fc
on cast(f.film_id as int) = cast(fc.film_id as int)
left join
  category c
on fc.category_id = c.category_id

 * postgresql://localhost/postgres
80 rows affected.

[(915, 'Truman Crazy', 'A Thrilling Epistle of a Moose And a Boy who must Meet a Database Administrator in A Monastery', 1943, 92, ['Trailers', 'Commentaries'], 'Action'),
 (105, 'Bull Shawshank', 'A Fanciful Drama of a Moose And a Squirrel who must Conquer a Pioneer in The Canadian Rockies', 1920, 125, ['Deleted Scenes'], 'Action'),
 (986, 'Wonka Sea', 'A Brilliant Saga of a Boat And a Mad Scientist who must Meet a Moose in Ancient India', 1984, 85, ['Trailers', 'Commentaries'], 'Animation'),
 (805, 'Sleepless Monsoon', 'A Amazing Saga of a Moose And a Pastry Chef who must Escape a Butler in Australia', 2003, 64, ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], 'Animation'),
 (761, 'Santa Paris', 'A Emotional Documentary of a Moose And a Car who must Redeem a Mad Cow in A Baloon Factory', 1931, 154, ['Commentaries', 'Behind the Scenes'], 'Children'),
 (553, 'Maker Gables', 'A Stunning Display of a Moose And a Database Administrator who must Pursue a Composer in A Jet Boat', 1985, 136, ['Deleted Scenes', 'Behind the Scenes'], 'Children'),
 (515, 'Legally Secretary', 'A Astounding Tale of a A Shark And a Moose who must Meet a Womanizer in The Sahara Desert', 1920, 113, ['Trailers', 'Commentaries', 'Behind the Scenes'], 'Children'),
 (343, 'Full Flatliners', 'A Beautiful Documentary of a Astronaut And a Moose who must Pursue a Monkey in A Shark Tank', 1972, 94, ['Trailers', 'Deleted Scenes'], 'Children'),
 (895, 'Tomorrow Hustler', 'A Thoughtful Story of a Moose And a Husband who must Face a Secret Agent in The Sahara Desert', 1945, 142, ['Commentaries'], 'Classics'),
 (874, 'Tadpole Park', 'A Beautiful Tale of a Frisbee And a Moose who must Vanquish a Dog in An Abandoned Amusement Park', 2001, 155, ['Trailers', 'Commentaries'], 'Classics'),
 (843, 'Steel Santa', 'A Fast-Paced Yarn of a Composer And a Frisbee who must Face a Moose in Nigeria', 1980, 143, ['Commentaries', 'Deleted Scenes'], 'Classics'),
 (611, 'Musketeers Wait', 'A Touching Yarn of a Student And a Moose who must Fight a Mad Cow in Australia', 1938, 73, ['Deleted Scenes', 'Behind the Scenes'], 'Classics'),
 (523, 'Lights Deer', 'A Unbelieveable Epistle of a Dog And a Woman who must Confront a Moose in The Gulf of Mexico', 1922, 174, ['Commentaries'], 'Classics'),
 (196, 'Cruelty Unforgiven', 'A Brilliant Tale of a Car And a Moose who must Battle a Dentist in Nigeria', 1985, 69, ['Deleted Scenes', 'Behind the Scenes'], 'Classics'),
 (754, 'Rushmore Mermaid', 'A Boring Story of a Woman And a Moose who must Reach a Husband in A Shark Tank', 1995, 150, ['Trailers', 'Commentaries', 'Deleted Scenes'], 'Comedy'),
 (657, 'Paradise Sabrina', 'A Intrepid Yarn of a Car And a Moose who must Outrace a Crocodile in A Manhattan Penthouse', 1924, 48, ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Comedy'),
 (502, 'Knock Warlock', 'A Unbelieveable Story of a Teacher And a Boat who must Confront a Moose in A Baloon', 1999, 71, ['Trailers'], 'Comedy'),
 (324, 'Flintstones Happiness', 'A Fateful Story of a Husband And a Moose who must Vanquish a Boy in California', 1976, 148, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Comedy'),
 (119, 'Caper Motions', 'A Fateful Saga of a Moose And a Car who must Pursue a Woman in A MySQL Convention', 1941, 176, ['Trailers', 'Commentaries', 'Deleted Scenes'], 'Comedy'),
 (952, 'Wagon Jaws', 'A Intrepid Drama of a Moose And a Boat who must Kill a Explorer in A Manhattan Penthouse', 1965, 152, ['Deleted Scenes', 'Behind the Scenes'], 'Documentary'),
 (708, 'Quills Bull', 'A Thoughtful Story of a Pioneer And a Woman who must Reach a Moose in Australia', 1982, 112, ['Trailers', 'Behind the Scenes'], 'Documentary'),
 (650, 'Pacific Amistad', 'A Thrilling Yarn of a Dog And a Moose who must Kill a Pastry Chef in A Manhattan Penthouse', 1955, 144, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Documentary'),
 (622, 'Newsies Story', 'A Action-Packed Character Study of a Dog And a Lumberjack who must Outrace a Moose in The Gulf of Mexico', 1980, 159, ['Trailers', 'Deleted Scenes'], 'Documentary'),
 (575, 'Midsummer Groundhog', 'A Fateful Panorama of a Moose And a Dog who must Chase a Crocodile in Ancient Japan', 1933, 48, ['Trailers', 'Deleted Scenes'], 'Documentary'),
 (552, 'Majestic Floats', 'A Thrilling Character Study of a Moose And a Student who must Escape a Butler in The First Manned Space Station', 1960, 130, ['Trailers'], 'Documentary'),
 (221, 'Deliverance Mulholland', 'A Astounding Saga of a Monkey And a Moose who must Conquer a Butler in A Shark Tank', 1975, 100, ['Deleted Scenes'], 'Documentary'),
 (85, 'Bonnie Holocaust', 'A Fast-Paced Story of a Crocodile And a Robot who must Find a Moose in Ancient Japan', 1986, 63, ['Deleted Scenes'], 'Documentary'),
 (979, 'Witches Panic', 'A Awe-Inspiring Drama of a Secret Agent And a Hunter who must Fight a Moose in Nigeria', 1957, 100, ['Commentaries', 'Behind the Scenes'], 'Drama'),
 (772, 'Sea Virgin', 'A Fast-Paced Documentary of a Technical Writer And a Pastry Chef who must Escape a Moose in A U-Boat', 1958, 80, ['Deleted Scenes'], 'Drama'),
 (683, 'Pity Bound', 'A Boring Panorama of a Feminist And a Moose who must Defeat a Database Administrator in Nigeria', 1985, 60, ['Commentaries'], 'Drama'),
 (666, 'Paycheck Wait', 'A Awe-Inspiring Reflection of a Boy And a Man who must Discover a Moose in The Sahara Desert', 1982, 145, ['Commentaries', 'Deleted Scenes'], 'Drama'),
 (539, 'Luck Opus', 'A Boring Display of a Moose And a Squirrel who must Outrace a Teacher in A Shark Tank', 1986, 152, ['Trailers', 'Commentaries', 'Behind the Scenes'], 'Drama'),
 (521, 'Lies Treatment', 'A Fast-Paced Character Study of a Dentist And a Moose who must Defeat a Composer in The First Manned Space Station', 1995, 147, ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Drama'),
 (401, 'Harold French', 'A Stunning Saga of a Sumo Wrestler And a Student who must Outrace a Moose in The Sahara Desert', 1985, 168, ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Drama'),
 (218, 'Deceiver Betrayed', 'A Taut Story of a Moose And a Squirrel who must Build a Husband in Ancient India', 1936, 122, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Drama'),
 (204, 'Dalmations Sweden', 'A Emotional Epistle of a Moose And a Hunter who must Overcome a Robot in A Manhattan Penthouse', 1934, 106, ['Trailers', 'Commentaries', 'Deleted Scenes'], 'Drama'),
 (61, 'Beauty Grease', 'A Fast-Paced Display of a Composer And a Moose who must Sink a Robot in An Abandoned Mine Shaft', 1974, 175, ['Trailers', 'Commentaries'], 'Drama'),
 (795, 'Siege Madre', 'A Boring Tale of a Frisbee And a Crocodile who must Vanquish a Moose in An Abandoned Mine Shaft', 1922, 111, ['Trailers', 'Deleted Scenes'], 'Family'),
 (695, 'President Bang', 'A Fateful Panorama of a Technical Writer And a Moose who must Battle a Robot in Soviet Georgia', 1955, 144, ['Behind the Scenes'], 'Family'),
 (639, 'Opposite Necklace', 'A Fateful Epistle of a Crocodile And a Moose who must Kill a Explorer in Nigeria', 1992, 92, ['Deleted Scenes'], 'Family'),
 (213, 'Date Speed', 'A Touching Saga of a Composer And a Moose who must Discover a Dentist in A MySQL Convention', 1960, 104, ['Commentaries'], 'Family'),
 (147, 'Chocolat Harry', 'A Action-Packed Epistle of a Dentist And a Moose who must Meet a Mad Cow in Ancient Japan', 1971, 101, ['Commentaries', 'Behind the Scenes'], 'Family'),
 (900, 'Town Ark', 'A Awe-Inspiring Documentary of a Moose And a Madman who must Meet a Dog in An Abandoned Mine Shaft', 1947, 136, ['Behind the Scenes'], 'Foreign'),
 (726, 'Reservoir Adaptation', 'A Intrepid Drama of a Teacher And a Moose who must Kill a Car in California', 1952, 61, ['Commentaries'], 'Foreign'),
 (623, 'Newton Labyrinth', 'A Intrepid Character Study of a Moose And a Waitress who must Find a A Shark in Ancient India', 1968, 75, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Foreign'),
 (762, 'Sassy Packer', 'A Fast-Paced Documentary of a Dog And a Teacher who must Find a Moose in A Manhattan Penthouse', 1953, 154, ['Deleted Scenes', 'Behind the Scenes'], 'Games'),
 (546, 'Madre Gables', 'A Intrepid Panorama of a Sumo Wrestler And a Forensic Psychologist who must Discover a Moose in The First Manned Space Station', 1972, 98, ['Trailers', 'Commentaries', 'Deleted Scenes'], 'Games'),
 (447, 'Ice Crossing', 'A Fast-Paced Tale of a Butler And a Moose who must Overcome a Pioneer in A Manhattan Penthouse', 1953, 131, ['Deleted Scenes'], 'Games'),
 (352, 'Gathering Calendar', 'A Intrepid Tale of a Pioneer And a Moose who must Conquer a Frisbee in A MySQL Convention', 1988, 176, ['Commentaries', 'Behind the Scenes'], 'Games'),
 (46, 'Autumn Crow', 'A Beautiful Tale of a Dentist And a Mad Cow who must Battle a Moose in The Sahara Desert', 2002, 108, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Games'),
 (965, 'Watership Frontier', 'A Emotional Yarn of a Boat And a Crocodile who must Meet a Moose in Soviet Georgia', 1950, 112, ['Commentaries'], 'Horror'),
 (922, 'Undefeated Dalmations', 'A Unbelieveable Display of a Crocodile And a Feminist who must Overcome a Moose in An Abandoned Amusement Park', 1954, 107, ['Commentaries'], 'Horror'),
 (737, 'Rock Instinct', 'A Astounding Character Study of a Robot And a Moose who must Overcome a Astronaut in Ancient India', 1953, 102, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'Horror'),
 (8, 'Airport Pollock', 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 1953, 54, ['Trailers'], 'Horror'),
 (454, 'Impact Aladdin', 'A Epic Character Study of a Frisbee And a Moose who must Outgun a Technical Writer in A Shark Tank', 1988, 180, ['Trailers', 'Deleted Scenes'], 'Music'),
 (411, 'Heavenly Gun', 'A Beautiful Yarn of a Forensic Psychologist And a Frisbee who must Battle a Moose in A Jet Boat', 1961, 49, ['Behind the Scenes'], 'Music'),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 1927, 49, ['Behind the Scenes'], 'Music'),
 (133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 1975, 117, ['Trailers'], 'Music'),
 (954, 'Wake Jaws', 'A Beautiful Saga of a Feminist And a Composer who must Challenge a Moose in Berlin', 1940, 73, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], 'New'),
 (847, 'Stock Glass', 'A Boring Epistle of a Crocodile And a Lumberjack who must Outgun a Moose in Ancient China', 1979, 160, ['Commentaries'], 'New'),
 (806, 'Sleepy Japanese', 'A Emotional Epistle of a Moose And a Composer who must Fight a Technical Writer in The Outback', 1934, 137, ['Trailers', 'Commentaries', 'Deleted Scenes'], 'New'),
 (686, 'Pluto Oleander', 'A Action-Packed Reflection of a Car And a Moose who must Outgun a Car in A Shark Tank', 2005, 84, ['Behind the Scenes'], 'New'),
 (551, 'Maiden Home', 'A Lacklusture Saga of a Moose And a Teacher who must Kill a Forensic Psychologist in A MySQL Convention', 1942, 138, ['Behind the Scenes'], 'New'),
 (321, 'Flash Wars', 'A Astounding Saga of a Moose And a Pastry Chef who must Chase a Student in The Gulf of Mexico', 1928, 123, ['Trailers', 'Commentaries', 'Behind the Scenes'], 'New'),
 (95, 'Breakfast Goldfinger', 'A Beautiful Reflection of a Student And a Student who must Fight a Moose in Berlin', 1924, 123, ['Trailers', 'Commentaries', 'Deleted Scenes'], 'New'),
 (93, 'Brannigan Sunrise', 'A Amazing Epistle of a Moose And a Crocodile who must Outrace a Dog in Berlin', 1980, 121, ['Trailers'], 'New'),
 (90, 'Boulevard Mob', 'A Fateful Epistle of a Moose And a Monkey who must Confront a Lumberjack in Ancient China', 1971, 63, ['Trailers'], 'New'),
 (764, 'Saturday Lambs', 'A Thoughtful Reflection of a Mad Scientist And a Moose who must Kill a Husband in A Baloon', 1988, 150, ['Commentaries', 'Deleted Scenes'], None),
 (729, 'Rider Caddyshack', 'A Taut Reflection of a Monkey And a Womanizer who must Chase a Moose in Nigeria', 1967, 177, ['Commentaries', 'Behind the Scenes'], None),
 (383, 'Groove Fiction', 'A Unbelieveable Reflection of a Moose And a A Shark who must Defeat a Lumberjack in An Abandoned Mine Shaft', 1936, 111, ['Behind the Scenes'], None),
 (135, 'Chance Resurrection', 'A Astounding Story of a Forensic Psychologist And a Forensic Psychologist who must Overcome a Moose in Ancient China', 1952, 70, ['Commentaries', 'Deleted Scenes', 'Behind the Scenes'], None),
 (102, 'Bubble Grosse', 'A Awe-Inspiring Panorama of a Crocodile And a Moose who must Confront a Girl in A Baloon', 1952, 60, ['Trailers', 'Commentaries', 'Deleted Scenes', 'Behind the Scenes'], None),
 (42, 'Artist Coldblooded', 'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California', 1978, 170, ['Trailers', 'Behind the Scenes'], None),
 (785, 'Shawshank Bubble', 'A Lacklusture Story of a Moose And a Monkey who must Confront a Butler in An Abandoned Amusement Park', 1942, 80, ['Commentaries', 'Deleted Scenes'], None),
 (783, 'Shane Darkness', 'A Action-Packed Saga of a Moose And a Lumberjack who must Find a Woman in Berlin', 1947, 93, ['Commentaries', 'Deleted Scenes'], None),
 (645, 'Others Soup', 'A Lacklusture Documentary of a Mad Cow And a Madman who must Sink a Moose in The Gulf of Mexico', 1927, 118, ['Deleted Scenes'], None),
 (472, 'Italian African', 'A Astounding Character Study of a Monkey And a Moose who must Outgun a Cat in A U-Boat', 1927, 174, ['Trailers', 'Commentaries', 'Deleted Scenes'], None),
 (233, 'Disciple Mother', 'A Touching Reflection of a Mad Scientist And a Boat who must Face a Moose in A Shark Tank', 1986, 141, ['Trailers', 'Deleted Scenes', 'Behind the Scenes'], None),
 (655, 'Panther Reds', 'A Brilliant Panorama of a Moose And a Man who must Reach a Teacher in The Gulf of Mexico', 2000, 109, ['Deleted Scenes', 'Behind the Scenes'], None),
 (165, 'Coldblooded Darling', 'A Brilliant Panorama of a Dentist And a Moose who must Find a Student in The Gulf of Mexico', 1989, 70, ['Trailers', 'Deleted Scenes'], None)]