## TRAINING TOOL DATA SETUP

### LOAD MAGIC EXTENSIONS
* This will allow for easy creation and loading of training data set
* Connect to default postgres database

In [2]:
%load_ext sql
%sql postgresql://localhost/postgres

'Connected: @postgres'

### CREATE TABLE SCHEMAS FOR DATA
* 7 tables total
* Some tables have integers typecasted as float to introduce "messy" data within the base schema

In [5]:
%%sql
create table actor(
 actor_id int primary key,
 first_name varchar(50),
 last_name varchar(50),
 last_update timestamp
);

create table rental(
 rental_id int primary key,
 rental_date timestamp,
 inventory_id int,
 customer_id int,
 return_date timestamp,
 staff_id int,
 last_update timestamp
);

create table film_actor(
 actor_id int,
 film_id int,
 last_update timestamp
);

create table language(
 language_id int,
 name varchar(50),
 last_update timestamp
);

create table film(
 film_id int primary key,
 title varchar(150),
 description varchar(300),
 release_year int,
 language_id int,
 rental_duration int,
 rental_rate double precision,
 length int,
 replacement_cost double precision,
 rating varchar(50),
 last_update timestamp,
 special_features varchar[],
 full_text varchar(300)
);

create table film_category(
 film_id float,
 category_id float,
 last_update timestamp
);

create table category(
 category_id int primary key,
 name varchar(50),
 last_update timestamp
);

 * postgresql://localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### COPY CSV DATA INTO DATABASE
* How do you refer to the files without hardcoding? <br>
* Make sure that the data cleaning is also reproducible

In [6]:
%%sql 
copy actor from '/Users/juliezhu/Github/sql-training-tool/content/data/actor.csv' delimiter ',' csv header;
copy film from '/Users/juliezhu/Github/sql-training-tool/content/data/film.csv' delimiter ',' csv header;
copy film_actor from '/Users/juliezhu/Github/sql-training-tool/content/data/film_actor.csv' delimiter ',' csv header;
copy rental from '/Users/juliezhu/Github/sql-training-tool/content/data/rental.csv' delimiter ',' csv header;
copy language from '/Users/juliezhu/Github/sql-training-tool/content/data/language.csv' delimiter ',' csv header;
copy category from '/Users/juliezhu/Github/sql-training-tool/content/data/category.csv' delimiter ',' csv header;
copy film_category from '/Users/juliezhu/Github/sql-training-tool/content/data/film_category.csv' delimiter ',' csv header;

 * postgresql://localhost/postgres
200 rows affected.
1000 rows affected.
5462 rows affected.
16044 rows affected.
6 rows affected.
16 rows affected.
1000 rows affected.

[]

In [3]:
%%sql
-- For specific table tweaks
drop table rental;
create table rental(
 rental_id int primary key,
 rental_date timestamp,
 inventory_id int,
 customer_id int,
 return_date timestamp,
 staff_id int,
 last_update timestamp
);
copy rental from '/Users/juliezhu/Github/sql-training-tool/content/data/rental.csv' delimiter ',' csv header;

 * postgresql://localhost/postgres
Done.
Done.
16044 rows affected.

[]

In [4]:
%%sql
-- Quick delete nuclear option
drop table rental;
drop table actor;
drop table film;
drop table film_actor;
drop table category;
drop table film_category;
drop table language;

 * postgresql://localhost/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
# Back-up code for scripting
# !psql -d postgres -c 'create table category(category_id int, name varchar(50), last_update timestamp)'